<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="VOCOWA">

    <title>VOCOWA - Voice Controlled Wheelchair Automatic</title>
    <link rel="icon" type="image/ico" href="/static/img/favicon.ico">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/static/css/animate.min.css" type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/teams/vocowa/custom.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body id="page-top">

        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="/">VOCOWA
                    </br><span class="iit-heading normal-font">SnTC - IIT BHU</span>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="#about">About</a></li>
                        <li><a class="page-scroll" href="#vision">Vision</a></li>
                        <li><a class="page-scroll" href="#highlights">Highlights</a></li>
                        <li class="dropdown" id="teams">
                        <a data-toggle="dropdown" data-target="#teams" style="cursor:pointer;">Technical Teams</a>
                        <ul class="dropdown-menu">
                          <li><a href="/teams/auv">AUV</a></li>
                          <li><a href="/teams/trident">Trident</a></li>
                          <li><a href="/teams/vocowa">VOCOWA</a></li>
                        </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <header>
            <div class="header-content">
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </header>

        <section class="bg-primary" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                      <h2 class="section-heading">About | VOCOWA
                      <hr class="light"></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 text-center">
                      <p class="text-faded">The Technical and Rural Outreach Club of IIT (BHU) holds the work of reaching out to the people and helping them with technical ideas, bringing out ways and means to develop skills in them and develop ideas for environmental welfare. The club is in its nascent stage and needs to be taken forward through various means and activities for it to achieve its internal essence. A lot needs to be done in the future for achieving what the club is meant for and surely things will be done in this direction.</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="vision">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="section-heading ribbon"><span>Vision</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 text-center">

                    </div>
                </div>
            </div>
        </section>

        <section class="no-padding" id="highlights">

            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading ribbon long-ribbon"><span>Highlights</span></h2>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row no-gutter">
                    <div class="col-lg-4 col-sm-6">
                        <a href="#highlights" class="portfolio-box wow fadeIn" data-wow-delay="0s">
                            <img src="/static/clubs/troc/img/header2.jpg" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Activity
                                    </div>
                                    <div class="project-name">
                                        Best Out of Waste
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a href="#highlights" class="portfolio-box wow fadeIn" data-wow-delay="0s">
                          <img src="/static/clubs/troc/img/header4.jpg" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Activity
                                    </div>
                                    <div class="project-name">
                                        Paper Bag Campaign
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a href="#highlights" class="portfolio-box wow fadeIn" data-wow-delay="0s">
                            <img src="/static/clubs/troc/img/header6.jpg" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Project
                                    </div>
                                    <div class="project-name">
                                        Piezoelectricity
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

    <section id="contact" class="bg-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="section-heading ribbon long-ribbon"><span>Office Bearers</span></h2>
                </div>
                <div class="office-bearer col-md-4  text-center wow fadeInLeft" data-wow-delay="0s">
                  <img class="img-circle" src="/static/img/pors/Rishabh.png" height="auto">
                    <h4 class="office-bearer-name">Rishabh Pandey</h4>
                    <h4>(Secretary)</h4>
                    <h4><i class="fa fa-phone"></i>+91-9628288737</h4>
                    <h4><i class="fa fa-envelope-o"></i>
                        <a href="mailto:pandey.ryogesh.min15@iitbhu.ac.in">pandey.ryogesh.min15@iitbhu.ac.in</a>
                    </h4>
                </div>
                <div class="office-bearer col-md-4  text-center wow fadeInLeft" data-wow-delay=".1s">
                  <img class="img-circle" src="/static/img/pors/Aman.png" height="auto">
                    <h4 class="office-bearer-name">Aman Gupta</h4>
                    <h4>(Joint Secretary)</h4>
                    <h4><i class="fa fa-phone"></i>+91-9713500989</h4>
                    <h4><i class="fa fa-envelope-o"></i>
                        <a href="mailto:aman.gupta.cer15@iitbhu.ac.in">aman.gupta.cer15@iitbhu.ac.in</a>
                    </h4>
                </div>
                <div class="office-bearer col-md-4  text-center wow fadeInLeft" data-wow-delay=".2s">
                  <img class="img-circle" src="/static/img/pors/Anmol.png" height="auto">
                    <h4 class="office-bearer-name">Anmol Agarwal</h4>
                    <h4>(Joint Secretary)</h4>
                    <h4><i class="fa fa-phone"></i>+91-8874048347</h4>
                    <h4><i class="fa fa-envelope-o"></i>
                        <a href="mailto:anmol.agarwal.che16@iitbhu.ac.in">anmol.agarwal.che16@iitbhu.ac.in</a>
                    </h4>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container ">
            <div class="row">
                <div class="col-sm-8 footer-left-pane">
                    <p class="copyright">
                        <a href="http://iitbhu.ac.in/various/copyright.shtml">
                            <i class="fa fa-copyright"></i> Copyright</a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="http://iitbhu.ac.in/various/disclaimer.shtml">Disclaimer</a>
                    </p>
                    <p class="credit">
                        <a href="http://iitbhu.ac.in/wmes_web/index.html">
                            Developed and Maintained by WMES, IIT BHU
                        </a> |<a href="/credits/"> Credits</a>
                    </p>
                </div>
                <div class="col-sm-4 iit-gate-position">
                    <img class="iit-gate" src="/static/img/footer-img.png" alt="iitbhu-gate">
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="/static/js/jquery.easing.min.js"></script>
    <script src="/static/js/jquery.fittext.js"></script>
    <script src="/static/js/wow.min.js"></script>
    <script src="/static/js/morphext.min.js"></script>
    <script src="/static/js/jquery.bgswitcher.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/static/clubs/troc/custom.js"></script>

  </body>

</html>
